<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>死亡缠绕</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>霜之哀伤</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>2</integer>
		<key>skillText</key>
		<string>重生</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>吸血</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>战意</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>刚毛后背</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>牺牲</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>沸血之矛</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>洗礼</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>圣光</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>战争饥渴</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>反转螺旋</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>双刃剑</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>火焰气息</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>龙族血统</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>援护</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>信仰</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>父爱</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>秘术异蛇</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>魔法护盾</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>等离子场</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>不定电流</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>无敌斩</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>剑舞</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>移形换位</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>恐怖波动</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>血之狂暴</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>嗜血</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>屠戮</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>战斗专注</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>热血战魂</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>爆头</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>瞄准</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>散弹</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>法力燃烧</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>复仇</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>穿刺护甲</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>法力损毁</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>闪烁</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>法力虚空</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>蝗虫群</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>时光倒流</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>怒意狂击</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>激怒</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>神判</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>特殊体质</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>炽魂</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>神灭斩</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>狂热之心</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>竭心光环</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>施虐之心</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>冰封</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>液态火</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>冰封禁制</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>辉煌光环</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>邪恶祭祀</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>霜冻护甲</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>薄葬</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>暗影波</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>火焰爆轰</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>多重施法</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>冲击波</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>查克拉</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>恩惠</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>遥控炸弹</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>引爆</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>自爆</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>超负荷</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>球状闪电</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>不可侵犯</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>魅惑</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>1</integer>
		<key>skillText</key>
		<string>自然之助</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>0</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>治疗术</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<true/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>驱散精灵</string>
		<key>isMandatorySkill</key>
		<true/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
	<dict>
		<key>skillCategory</key>
		<integer>1</integer>
		<key>skillType</key>
		<integer>0</integer>
		<key>skillText</key>
		<string>魔法掌控</string>
		<key>isMandatorySkill</key>
		<false/>
		<key>canBeDispelled</key>
		<false/>
	</dict>
</array>
</plist>